{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link href="{{asset ('css/index.css')}}" rel="stylesheet">
        <link href="{{asset ('css/search.css')}}" rel="stylesheet">
        <link href="{{asset ('css/header.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>
    {% endblock %}
    {% block title %}SportsArena{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->



<!--Start Dots-->
{% block dots %}
    <div class="dots">
        <div class="active one" data-x="header"></div>
        <div class="two" data-x=".terrains"></div>
        <div class="three" data-x=".fixed-image"></div>
    </div>
{% endblock %}
<!--End Dots-->


<!--Start Header-->
{% block header %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text">
                <h2 style="color:#fff;margin-top:170px;">ARE YOU <h2 style="color:#ffc107;margin-top:10px;"> READY? </h2> </h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="main">
                <div class="search-block">
                    {{ form_start(form) }}
                    <div class="container" style="margin-top:150px;">
                        <div class="row">
                            <div class="col-md-6">
                            {{ form_row(form.adresse)  }}
                            </div>
                            <div class="col-md-6">
                            {{ form_row(form.category) }}
                            </div>
                            <div class="col-md-12">
                            {{ form_row(form.submit) }}
                            </div>
                        </div>
                    </div>
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
    <svg class="svg-down" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve">
        <path fill="currentColor" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path>
    </svg>
    <div class="arrow-down" style='color:black;'></div>
{% endblock %}
<!--End Header-->

{% block main %}

<!--start terrains-->
<div class="terrains " id ="terrains" style="background-color:#dee2e6;padding-top:20px ; color:white;">
    <div class="text">
        <h2 style="text-transform:uppercase; font-size:50px ; margin-left:40px">OUR STADUIMS</h2>
    </div>
    {% if terrains is empty %}
        <h3 >No Staduim found.</h3>
    {% else %}
            <div id="carousel1" style=" margin-left:50px"  class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% set active = true %}
                    {% for chunk_terrain in chunks_terrain %}
                        <div class="carousel-item  {% if active %}active{% endif %}">
                            <div class="row" style=" margin-left:100px;margin-top:20px ">
                                {% for terrain in chunk_terrain %}
                                    <div class="card" style="width: 18rem; margin-left:50px; margin-top:60px">
                                        <img src="{{ asset('/uploads/images/' ~ terrain.images[0])|imagine_filter('square') }}" class="card-img-top" alt="{{ terrain.name }}" height="300px" width="200px">
                                        <div class="card-body">
                                            <p class="card-title">{{ terrain.name }}</p>
                                            <p class="card-title">{{ terrain.adresse}}</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">{{ terrain.price }} DT</li>
                                            {% if terrain.discount !=0  %}
                                                <li class="list-group-item"><small class="text-body-secondary">discount :{{ terrain.discount }}DT</small></li>
                                            {% endif %}
                                        </ul>
                                        <div class="card-body">
                                            <a href="{{ path('app_reservation_create', {'id': terrain.id}) }}" class="btn" style="background-color:#000;color:#fff;">Book Now</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% set active = false %}
                    {% endfor %}
                </div>
                <button  class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
    {% endif %}
    </div>
</div>
<!--End terrains-->






<!--start categories-->
<div class="categories " id ="categories" style="background-color:#000;padding-top:20px ; color:white;">
    <div class="text">
        <h2 style="text-transform:uppercase; font-size:50px ; margin-left:40px">OUR CATEGORIES</h2>
    </div>
    {% if categories is empty %}
        <p>No Staduim found.</p>
    {% else %}
            <div id="carousel2" style=" margin-left:50px" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% set active = true %}
                    {% for chunk_categorie in chunks_categories %}
                        <div class="carousel-item  {% if active %}active{% endif %}">
                            <div class="row" style=" margin-left:100px;margin-top:20px ">
                                {% for categories in chunk_categorie %}
                                    <div class="card" style="width: 18rem; margin:50px; margin-top:60px">
                                        <img src="{{ asset('/uploads/images/' ~ categories.image)|imagine_filter('square') }}" class="card-img-top" alt="{{ categories.name }}" >
                                        <div class="card-body">
                                            <p class="card-title">{{ categories.name }}</p>
                                        </div>
                                        <div class="card-body">
                                            <a href="{{ path('app_category_show', {'id': categories.id}) }}" class="btn btn-warning">View All</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% set active = false %}
                    {% endfor %}
                </div>
                <button  class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
    {% endif %}
    </div>
</div>
<!--End categories-->

<!--start About Us-->
<div class="about-us" id ="about-us">
    <div class="text">
        <h3>About Us</h3>
        <p>We are a team of sports enthusiasts who are passionate about bringing people together to enjoy their favorite games and events. Our website is dedicated to providing a convenient and reliable way for you to reserve your spot in the stadium for any upcoming events.</p>
        <div><a class="a-CTA" href="#about-us2">About Us</a></div>
    </div>
    <div class="image-container">
        <div class="image image1">
            <img src="https://images.pexels.com/photos/279004/pexels-photo-279004.jpeg" alt="staduim Photo" height="400px" >
        </div>
    </div>
</div>
<!--End About Us-->



<!--Start Footer-->
<footer>
    <div class="text" id ="about-us2">
        <h2>ABOUT SportsArena</h2>
        <div><i class="fas fa-asterisk"></i></div>
        <p>Our website is a platform dedicated to sports enthusiasts who are looking to book and reserve sports facilities around their area. We provide a simple and easy-to-use interface for users to search for and book facilities based on location, activity, and date. Our goal is to make the process of booking sports facilities as hassle-free as possible, allowing users to focus on what really matters - enjoying their favorite sports. We are committed to providing high-quality services and ensuring the satisfaction of all our users.</p>
    </div>
    <div class="contact-container">
        <div class="social-media">
            <h3>Follow Along</h3>
            <div class="links">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="newsletter" id ="newsletter">
            <h3>NewsLetter</h3>
            <form method="post">
                <input type="email" name="email" placeholder="Type Your Email">
                <i class="fas fa-envelope"></i>
            </form>
        </div>
    </div>
</footer>
<!--End Footer-->

<!--Start Copy-Right-->
<div class="copyright">
    <svg class="svg-up" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="#262526" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
    <i class="fas fa-angle-double-up arrow-up"></i>
    <ul class="info">
        <li>&copy; SportsArena 2017</li>
        <li>Tunisia , Sousse , Sahloul</li>
        <li>Tel: xx xxx xxx</li>
    </ul>
    <ul class="CTA">
        <li><a href="#">PERMISSIONS AND COPYRIGHT</a></li>
        <li><a href="#">CONTACT THE TEAM</a></li>
    </ul>
</div>
<!--End Copy-Right-->
{% endblock %}
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function() {
    $('#carousel1').carousel({
    interval: 2000 // change the speed of the carousel here
    });
});
</script>
<script>
    $(document).ready(function() {
    $('#carousel2').carousel({
    interval: 2000 // change the speed of the carousel here
    });
});
</script>
{% endblock %}