{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link href="{{asset ('css/main.css')}}" rel="stylesheet">
    {% endblock %}
    {% block title %}SportsArena {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
{% block body %}
{% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
{% block dots %}
<!--Start Dots-->
    <div class="dots">
        <div class="active one" data-x="header"></div>
        <div class="two" data-x=".terrains"></div>
        <div class="three" data-x=".fixed-image"></div>
    </div>
<!--End Dots-->
{% endblock %}


<!--Start Header-->
{% block header %}
    <div class="text">
        <h2>Welcome</h2>
        <div class="button"><button>Explore</button></div>
        <div class="search-block">
            <form>
                <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="location" placeholder="Enter location...">
                </div>
                <div class="form-group">
                <label for="activity">Activity:</label>
                <select id="activity">
                    <option value="">Select activity...</option>
                    <option value="soccer">Soccer</option>
                    <option value="basketball">Basketball</option>
                    <option value="tennis">Tennis</option>
                </select>
                </div>
                <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date">
                </div>
                <button type="submit">Search</button>
            </form>
        </div>

    </div>
    <svg class="svg-down" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="currentColor" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
    <div class="arrow-down">
    </div> 
{% endblock %}
<!--End Header-->

{% block main %}
<!--start About Us-->
<div class="about-us" id ="about-us">
    <div class="text">
        <h2>Discover</h2>
        <h3>About Us</h3>
        <p>We are a team of sports enthusiasts who are passionate about bringing people together to enjoy their favorite games and events. Our website is dedicated to providing a convenient and reliable way for you to reserve your spot in the stadium for any upcoming events.</p>
        <div><a class="a-CTA" href="#">About Us</a></div>
    </div>
    <div class="image-container">
        <div class="image image1">
            <img src="https://images.pexels.com/photos/279004/pexels-photo-279004.jpeg" alt="staduim Photo" height="400px" >
        </div>
        <div class="image image2">
            <img src="https://images.pexels.com/photos/159819/american-football-football-football-player-quarterback-159819.jpeg" alt="staduim Photo" height="400px" >
        </div>
    </div>
</div>
<!--End About Us-->

<!--start terrains-->
<div class="terrains">
    
     <h1>Staduim</h1>
    {% if terrains is empty %}
        <p>No Staduim found.</p>
    {% else %}
        <div class="row">
            {% for terrain in terrains %}
                <div class="col-sm-4">
                    <div class="card mb-3">
                        <img src="{{ asset(terrain.image) }}" class="card-img-top" alt="{{ terrain.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ terrain.name }}</h5>
                            <p class="card-text">{{ terrain.description }}</p>
                            <a href="#" class="btn btn-primary">View details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<!--End terrains-->

<!--start Menu-->
<div class="menu">
    <div class="box-model">
        <i class="fas fa-times fa-2x close"></i>
        <div class="arrow">
            <div class="arrow arrow-right"></div>
            <div class="arrow arrow-left"></div>
        </div>
        <div class="box-image-container">
            <div class="box-image">
                <img src=""  alt="Food Photo">
            </div>
        </div>
    </div>
    <div class="menu-image-container">
        <div class="image active">
            <img src="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988517/big-menu-thumb-1.jpg" alt="Food Photo">
        </div>
        <div class="image">
            <img src="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988526/big-menu-thumb-2.jpg" alt="Food Photo">
        </div>
        <div class="image">
            <img src="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988525/big-menu-thumb-4.jpg" alt="Food Photo">
        </div>
        <div class="image">
            <img src="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988524/big-menu-thumb-6.jpg" alt="Food Photo">
        </div>
    </div>
    <div class="text">
        <h2>Discover</h2>
        <h3>Menu</h3>
        <div><i class="fas fa-asterisk"></i></div>
        <p>For those with pure food indulgence in mind, come next door and sate your desires with our ever changing internationally and seasonally inspired small plates.  We love food, lots of different food, just like you.</p>
        <div><a class="a-CTA" href="#">View The Full Menu</a></div>
    </div>
</div>
<!--End Menu-->

<!--Start fixed-image-->
<div class="fixed-image">
    <div class="text">
        <h2>The Perfect</h2>
        <h3>Blend</h3>
    </div>
</div>
<!--End fixed-image-->

<!--start About Us-->
<div class="reservation">
    <div class="text">
        <h2>Culinary</h2>
        <h3>Delight</h3>
        <div><i class="fas fa-asterisk"></i></div>
        <p>We promise an intimate and relaxed dining experience that offers something different to local and foreign patrons and ensures you enjoy a memorable food experience every time.</p>
        <div><a class="a-CTA" href="#">Make a Reservation</a></div>
    </div>
    <div class="image-container">
        <div class="image image1">
            <img src="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988518/bacon-1.jpg" alt="Food Photo">
        </div>
        <div class="image image2">
            <img src="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988518/bacon-2.jpg" alt="Food Photo">
        </div>
    </div>
</div>
<!--End About Us-->

<!--Start Footer-->
<footer>
    <div class="text">
        <h2>ABOUT SportsArena</h2>
        <div><i class="fas fa-asterisk"></i></div>
        <p>ROSA is an enchanting and easy-to-use parallax Restaurant WordPress theme that allows you to tell your story in a dynamic, narrative and enjoyable way, making it perfect for restaurants, bakeries, bars or coffee shops.</p>
    </div>
    <div class="contact-container">
        <div class="social-media">
            <h3>Follow Along</h3>
            <div class="links">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="newsletter">
            <h3>NewsLetter</h3>
            <form method="post">
                <input type="email" name="email" placeholder="Type Your Email">
                <i class="fas fa-envelope"></i>
            </form>
        </div>
    </div>
</footer>
<!--End Footer-->

<!--Start Copy-Right-->
<div class="copyright">
    <svg class="svg-up" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="#262526" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
    <i class="fas fa-angle-double-up arrow-up"></i>
    <ul class="info">
        <li>&copy; SportsArena 2017</li>
        <li>13 Hanway Square, London</li>
        <li>Tel: 71494563</li>
        <li>Handcrafted with love by <a href="#">Pixelgrade</a> Team</li>
    </ul>
    <ul class="CTA">
        <li><a href="#">PERMISSIONS AND COPYRIGHT</a></li>
        <li><a href="#">CONTACT THE TEAM</a></li>
    </ul>
</div>
<!--End Copy-Right-->
{% endblock %}
{% endblock %}
