{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link href="{{asset ('css/search.css')}}" rel="stylesheet">
    {% endblock %}
    {% block title %}SportsArena{% endblock %}
{% block body %}
{% block header%}
<div class="search-block">
    <form>
        <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" id="location" placeholder="Enter location...">
        </div>
        <div class="form-group">
        <label for="activity">Activity:</label>
        <select id="activity">
            <option value="">Select activity...</option>
            <option value="soccer">Soccer</option>
            <option value="basketball">Basketball</option>
            <option value="tennis">Tennis</option>
        </select>
        </div>
        <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" id="date">
        </div>
        <button type="submit">Search</button>
    </form>
</div>

{% endblock %}
{% block main %}
    <!--start terrains-->
        <div class="text">
            <h2 style="text-transform:uppercase; font-size:50px">Staduim</h2>
        </div>
    <div class="terrains " id ="terrains" >
        {% if terrains is empty %}
            <p>No Staduim found.</p>
        {% else %}
            <div class="row" style="padding-top:60px;">
                {% for terrain in terrains %}

            <div class="card mb-3" style="max-width: 1000px;">
            <div class="row no-gutters">
                <div class="col-md-6">
                <img src="{{ asset('/uploads/images/' ~ terrain.images[0]) |imagine_filter('square')}}" class="card-img-top" alt="{{ terrain.name }}" >
                </div>
                <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ terrain.name }}</h5>
                    <p class="card-text">{{ terrain.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ terrain.price }} DT</small></p>
                    <a href="{{ path('app_terrain_show', {'id': terrain.id}) }}" class="btn btn-warning">View Details</a>
                </div>
                </div>
            </div>
            </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% endblock %}
