{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link href="{{asset ('css/main.css')}}" rel="stylesheet">
    {% endblock %}
    {% block title %}SportsArena{% endblock %}
{% block body %}

{% block main %}
    <!--start terrains-->
        <div class="text">
            <h2 style="text-transform:uppercase; font-size:50px">Staduim</h2>
        </div>
    <div class="terrains " id ="terrains" >
        {% if terrains is empty %}
            <p>No Staduim found.</p>
        {% else %}
            <div class="row" style="padding-top:60px;">
                {% for terrain in terrains %}

            <div class="card mb-3" style="max-width: 1000px;">
            <div class="row no-gutters">
                <div class="col-md-6">
                <img src="{{ asset('/uploads/images/' ~ terrain.images[0]) |imagine_filter('square')}}" class="card-img-top" alt="{{ terrain.name }}" >
                </div>
                <div class="col-md-6">
                <div class="card-body">
                    <p class="card-title">{{ terrain.name }}</p>
                    <p class="card-title">{{ terrain.adresse }}</p>
                    <p class="card-text">{{ terrain.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ terrain.price }} DT</small></p>
                    {% if terrain.discount !=0  %}
                        <p class="list-group-item"><small class="text-body-secondary">discount :{{ terrain.discount }}DT</small></p>
                    {% endif %}
                    <a href="{{ path('app_reservation_create', {'id': terrain.id}) }}" class="btn btn-success">Book Now</a>
                </div>
                </div>
            </div>
            </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% endblock %}
