{% extends 'admin.html.twig' %}

{% block title %}Terrain index{% endblock %}

{% block main %}
<div class="main">
    <h1>Terrain index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>surface</th>
                <th>adresse</th>
                <th>Materiel</th>
                <th>description</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        {% for terrain in terrains %}
            <tr>
                <td>{{ terrain.id }}</td>
                <td>{{ terrain.name }}</td>
                <td>{{ terrain.surface }}</td>
                <td>{{ terrain.adresse }}</td>
                <td>{{ terrain.materiel }}</td>
                <td>{{ terrain.description }}</td>
                <td>{{ terrain.price }}</td>
                <td>{{ terrain.discount }}</td>
                <td>
                    {% for image in terrain.images %}
                        <img src="{{ asset('/uploads/images/' ~ image.name) }}" alt="Image" width="150">
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
