{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{asset ('css/main.css')}}" rel="stylesheet">
{% endblock %}
{% block main %}
    <div class="card mb-3" style="max-width:900px; ">
        {% if form_errors(form.date) %}
            <div class="alert alert-danger">
                {{ form_errors(form.date) }}
            </div>
        {% endif %}
        <div class="row g-0">
            <div class="col-md-9">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
                    <div class="carousel-inner">
                        {% for image in images %}
                            <div class="carousel-item  {% if loop.first %}active{% endif %}">
                                    <img src="{{ asset('/uploads/images/' ~ image.name)|imagine_filter('banniere') }}"  alt="{{ terrain.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-body">
                    <h5 class="card-title">{{ terrain.name }}</h5>
                    <p class="card-title">{{ terrain.adresse }}</p>
                    <p class="card-title">Time of match :{{ terrain.hours|date('H:i') }}</p>
                    <p class="card-title">Pause time :{{ terrain.pause|date('H:i') }}</p>
                    <p class="card-text">{{ terrain.description |raw }}</p>
                    <p class="card-text"><small class="text-body-secondary">price : {{ terrain.price }} DT</small></p>
                    {% if terrain.discount !=0  %}
                    <p class="card-text"><small class="text-body-secondary">discount :{{ terrain.discount }}DT</small></p>
                    {% endif %}
                    {{ form_start(form) }}
                    
                        <div class="form-group">
                            {{ form_label(form.date, 'Choose Date and Hour ') }}
                            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div> 
    {% endblock %}
