<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {% block title %}{% endblock %} </title>
        <link href="{{asset ('css/nav.css')}}" rel="stylesheet">
        <link href="{{asset ('css/user.css')}}" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="stop-scroll">
        <header>
            <nav >
                <div class="logo">
                    <a href="{{ path('app_home') }}"><img src="{{ asset('images/logo.jpeg')}}" width="300px" height="50px" alt="Site Logo"></a>
                </div>
                <div class="sidenav">
                    <a href="{{ path('user_home') }}">Dashboard</a>
                    <a href="#">Messages</a>
                    <a href="#">Settings</a>
                    <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            </nav>
                {% block header %}{% endblock %}
        </header>
            {% block main %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endblock %}
            
    </body>
</html>
